@import './variables.scss';
@import '../uni.scss';

/* stylelint-disable  selector-type-no-unknown */

.base-style {
  font-size: $font-base;
  color: $font-color-main;
  font-family: 'Source Han Sans CN', 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', Arial, 'sans-serif';
}

page {
  background-color: $page-bg-color;
  box-sizing: border-box;
  min-height: 100vh;

  button[type='primary'] {
    height: 92rpx;
    border-radius: 13rpx;
    font-size: 35rpx;
    font-weight: 500;
    color: #fff;
    background-color: $primary-color;
    margin: 0;
  }
  button[type='default'] {
    height: 92rpx;
    border-radius: 13rpx;
    font-size: 35rpx;
    font-weight: 500;
    color: $font-color-main;
    background-color: #fff;
    border: 1px solid $border-color;
    margin: 0;
    &::after {
      display: none;
    }
  }

  @extend .base-style;
}
.no-data {
  margin-top: 20rpx;
  text-align: center;
  font-size: $font-large;
}

image {
  object-fit: cover;
}
