/* 边距间距 */
$page-spacing: 16px; // 页面左右间距
$item-spacing: 10px; // 页面每个区块之间的上下间距
$item-padding-spacing: 16px; // 页面每个区块之间的内间距
$page-bottom: 20px; // 页面底部留白

/* 页面颜色 */
$page-bg-color: #f5f5f5; // 页面背景色 #f7f9fd
$main-color: #07c160; // 页面主色
$page-color-light: #f8f6fc; // 页面高亮色
$error-color: rgb(205, 0, 22); // 错误提示色
$success-color: rgb(96, 172, 8); // 正确提示色
$navigation-bar-background-color: #0163d1;

/* 文字颜色 */
$font-color-main: rgba(0, 0, 0, 0.9); // 主文字颜色
$font-color-sub: rgba(0, 0, 0, 0.5); // 次要文字颜色

/* 主题颜色 */
$primary-color: #485bf7;
$disable-color: #a8b0f6;
$warn-color: #f57b03;
$danger-color: #fc2b55;

/* 边框颜色 */
$border-color: #dcdcdc;
$border-radius: 16rpx; // 边框圆角
$divide-line-color: #e8e8e8; // 分割线颜色

// 导航栏
$nav-height: 44px; // 导航栏高度
$nav-font-size: 38rpx; // 导航栏字号

/* 文字尺寸 */
$font-small: 24rpx; // 小字号
$font-base: 28rpx; // 主字号
$font-middle: 30rpx; // 中字号
$font-large: 34rpx; // 大字号
$font-title: 36rpx; // 大标题字号
$font-large-title: 44rpx; // 大标题字号
$font-max: 54rpx; // 最大字号

// 页面最小高度
$page-height: calc(100vh- #{$nav-height});
